.tech-logos {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(64px, 1fr));
	gap: 1rem;
	align-items: center;
	justify-items: center;
	justify-content: center;
	margin-top: 1rem;

	&__item {
		width: 48px;
		height: auto;
		object-fit: contain;
		transition: transform 0.3s;

		&:hover {
			transform: scale(1.1);
		}
	}
}
