.f-size-32 {
	font-size: 32px;
}

.f-size-24 {
	font-size: 24px;
}

.f-size-20 {
	font-size: 20px;
}

.f-size-16 {
	font-size: 16px;
	line-height: 140%;
}

.f-color-text {
	color: #7a7a7a;
}
.f-color-label {
	color: #4b4b4b;
}
